spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bank_db
    username: bank_user
    password: bank_pass
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 5

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml

server:
  port: 8080
  error:
    include-message: always

logging:
  level:
    org.springframework.security: DEBUG
    com.example.bankcards: DEBUG
    liquibase: INFO

jwt:
  secret: nmVx9H4tsqsY5qEW2+azmKmdq+Y/OltP0C+skqox30s=
  expiration: 86400000

encryption:
  key: abcdefghijklmnopqrstuvwxyz123456